@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap");
html,
body {
  margin: 0;
}

*,
*::before,
*::after {
  font-family: "Spartan", sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
  padding: 0 20px;
}

body {
  background: url("./images/bg-pattern-top-desktop.svg") no-repeat top left, url("./images/bg-pattern-bottom-desktop.svg") no-repeat bottom right;
  background-size: auto, auto;
}

.container-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 128px;
}

.container-top__left {
  width: 100%;
  max-width: 445px;
}

.container-top__heading {
  margin-bottom: 10px;
  color: #502050;
  font-size: 48px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -1.71429px;
}

.container-top__desc {
  margin-top: 0.8rem;
  font-size: 15px;
  letter-spacing: -0.5px;
  line-height: 25px;
  font-weight: 500;
  letter-spacing: -0.5px;
  color: #937b92;
}

.container-top__right {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 47.5px 47.5px auto 47.5px 47.5px;
      grid-template-columns: 47.5px 47.5px auto 47.5px 47.5px;
  grid-row-gap: 16px;
  width: 100%;
  max-width: 540px;
}

.container-top .rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 56px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f7f2f7;
  border-radius: 8px;
}

.container-top .rating:first-child {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / 4;
}

.container-top .rating:nth-child(2) {
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  grid-column: 2 / 5;
}

.container-top .rating:last-child {
  -ms-grid-column: 3;
  -ms-grid-column-span: 3;
  grid-column: 3 / 6;
}

.container-top .rating .rating-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 32px;
}

.container-top .rating .rating-box__icon {
  margin-right: 8.45px;
}

.container-top .rating .rating-box__icon :last-child {
  margin-right: 32px;
}

.container-top .rating__desc {
  font-weight: 700;
  font-size: 13px;
  line-height: 15px;
  color: #502050;
  margin-left: 24px;
}

.container-bottom {
  margin-top: 73px;
}

.container-bottom .testimonials {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: 16px 16px auto 16px 16px;
      grid-template-rows: 16px 16px auto 16px 16px;
  grid-column-gap: 30px;
  margin-bottom: 110px;
}

.container-bottom .testimonial {
  background-color: #502050;
  padding: 40px 32px;
  border-radius: 8px;
  max-width: 350px;
}

.container-bottom .testimonial:first-child {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  grid-row: 1 / 4;
}

.container-bottom .testimonial:nth-child(2) {
  -ms-grid-row: 2;
  -ms-grid-row-span: 3;
  grid-row: 2 / 5;
}

.container-bottom .testimonial:last-child {
  -ms-grid-row: 3;
  -ms-grid-row-span: 3;
  grid-row: 3 / 6;
}

.container-bottom .testimonial-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container-bottom .testimonial-info__text {
  margin-left: 23px;
}

.container-bottom .testimonial-info-user__name {
  font-weight: 700;
  font-size: 13px;
  line-height: 15px;
  color: white;
  margin-bottom: 5px;
}

.container-bottom .testimonial-info-user__desc {
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  color: #ee68a4;
}

.container-bottom .testimonial-avatar {
  width: 40px;
  height: 40px;
  background-position: center;
  background-size: cover;
  border-radius: 50px;
}

.container-bottom .testimonial-text {
  color: white;
  line-height: 22px;
  margin-top: 26px;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: -0.232143px;
}

@media (max-width: 1200px) {
  .container {
    margin: 80px 40px;
  }
}

@media (max-width: 1000px) {
  .container {
    padding: 0 25px;
  }
  .container-top__left {
    width: 80%;
  }
  .container-top__heading {
    font-size: 38px;
  }
  .container-top__desc {
    font-size: 12px;
  }
  .container-top__right {
    -ms-grid-columns: 30px 30px auto 30px 30px;
        grid-template-columns: 30px 30px auto 30px 30px;
  }
  .container-top .rating {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .container-top .rating__desc {
    font-size: 12px;
  }
}

@media (max-width: 768px) {
  .container {
    margin: 80px auto;
  }
  .container-top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .container-top__heading {
    font-size: 34px;
  }
  .container-top__desc {
    font-size: 15px;
  }
  .container-top__left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    width: 100%;
  }
  .container-top__right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 40px;
  }
  .container-top .rating {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    height: 78px;
    padding: 10px;
  }
  .container-top .rating__desc {
    margin: 0;
    text-align: center;
    font-size: 15px;
  }
  .container-bottom .testimonials {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .container-bottom .testimonial {
    max-width: 100%;
    margin-bottom: 30px;
  }
  .container-bottom .testimonial-text {
    font-size: 13px;
  }
}

@media (max-width: 375px) {
  body {
    background-size: 100% auto;
  }
  .container-top {
    margin-top: 80px;
  }
  .container-top__heading {
    line-height: 32px;
  }
  .container-bottom {
    margin-top: 49px;
  }
}
/*# sourceMappingURL=app.css.map */