// Layout
$mobile: 375px;
$tablet: 768px;
$laptop: 1200px;
$desktop: 1440px;

// Colors
$very_dark_magenta: hsl(300, 43%, 22%);
$soft_pink: hsl(333, 80%, 67%);
$dark_grayish_magenta: hsl(303, 10%, 53%);
$light_grayish_magenta: hsl(300, 24%, 96%);
$white: hsl(0, 0%, 100%);

// Font
@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap");

// Initial Styles
html,
body {
  margin: 0;
}

*,
*::before,
*::after {
  font-family: "Spartan", sans-serif;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}

// Begin Styles
.container {
  max-width: 1110px;
  margin: 0 165px;
}
body {
  background: url("./images/bg-pattern-top-desktop.svg") no-repeat top left,
    url("./images/bg-pattern-bottom-desktop.svg") no-repeat bottom right;
  background-size: auto, auto;
}

.container-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 128px;

  &__left {
    width: 100%;
    max-width: 445px;
  }

  &__heading {
    margin-bottom: 10px;
    color: $very_dark_magenta;
    font-size: 48px;
    font-weight: 700;
    line-height: 48px;
  }

  &__desc {
    margin-top: 0.8rem;
    font-size: 15px;
    letter-spacing: -0.5px;
    line-height: 25px;
    font-weight: 500;
    color: $dark_grayish_magenta;
  }

  &__right {
    display: grid;
    grid-template-columns: 47.75px 47.75px auto 47.75px 47.75px;
    grid-row-gap: 16px;
    width: 100%;
    max-width: 540px;
  }

  .rating {
    display: flex;
    width: 100%;
    height: 56px;
    align-items: center;
    background-color: $light_grayish_magenta;
    border-radius: 5px;

    &:first-child {
      grid-column: 1 / 4;
    }
    &:nth-child(2) {
      grid-column: 2 / 5;
    }
    &:last-child {
      grid-column: 3 / 6;
    }

    .rating-box {
      display: flex;
      margin-left: 32px;

      &__icon {
        margin-right: 8.45px;

        :last-child {
          margin-right: 32.45px;
        }
      }
    }

    &__desc {
      font-weight: 700;
      font-size: 13px;
      line-height: 25px;
      color: $very_dark_magenta;
      margin-left: 32px;
    }
  }
}

.container-bottom {
  margin-top: 73px;

  .testimonials {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 16px 16px auto 16px 16px;
    grid-column-gap: 30px;
    margin-bottom: 110px;
  }

  .testimonial {
    background-color: $very_dark_magenta;
    padding: 40px 32px;
    border-radius: 8px;
    max-width: 350px;

    &:first-child {
      grid-row: 1 / 4;
    }

    &:nth-child(2) {
      grid-row: 2 / 5;
    }

    &:last-child {
      grid-row: 3 / 6;
    }

    &-info {
      display: flex;
      align-items: center;

      &__text {
        margin-left: 23px;
      }

      &-user__name {
        font-weight: 700;
        font-size: 13px;
        line-height: 20px;
        color: white;
      }

      &-user__desc {
        font-weight: 400;
        font-size: 13px;
        line-height: 20px;
        color: $soft_pink;
      }
    }

    &-avatar {
      width: 40px;
      height: 40px;
      background-position: center;
      background-size: cover;
      border-radius: 50px;
    }

    &-text {
      color: white;
      line-height: 20px;
      margin-top: 26px;
      font-size: 13px;
      font-weight: 400;
    }
  }
}

@media (max-width: $laptop) {
  .container {
    margin: 80px 40px;
  }
}

@media (max-width: 1000px) {
  .container {
    padding: 0 25px;
  }

  .container-top {
    &__left {
      width: 80%;
    }

    &__heading {
      font-size: 38px;
    }

    &__desc {
      font-size: 12px;
    }

    &__right {
      grid-template-columns: 30px 30px auto 30px 30px;
    }

    .rating {
      justify-content: center;
      &__desc {
        font-size: 12px;
      }
    }
  }
}

@media (max-width: $tablet) {
  .container {
    margin: 80px auto;
  }

  .container-top {
    flex-direction: column;

    &__heading {
      font-size: 34px;
    }

    &__desc {
      font-size: 15px;
    }

    &__left {
      display: flex;
      flex-direction: column;
      text-align: center;
      width: 100%;
    }

    &__right {
      display: flex;
      flex-direction: column;
      margin-top: 40px;
    }

    .rating {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      height: 78px;
      padding: 10px;

      &__desc {
        margin: 0;
        text-align: center;
        font-size: 15px;
      }
    }
  }

  .container-bottom {
    .testimonials {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .testimonial {
      max-width: 100%;
      margin-bottom: 30px;

      &-text {
        font-size: 13px;
      }
    }
  }
}

@media (max-width: $mobile) {
  body {
    background-size: 100% auto;
  }

  .container-top {
    margin-top: 80px;
    &__heading {
      line-height: 32px;
    }
  }

  .container-bottom {
    margin-top: 49px;
  }
}
