@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap");
html,
body {
  margin: 0;
}

*,
*::before,
*::after {
  font-family: "Spartan", sans-serif;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}

.container {
  max-width: 1110px;
  margin: auto;
  padding: 0 20px;
}

body {
  background: url("./images/bg-pattern-top-desktop.svg") no-repeat top left,
    url("./images/bg-pattern-bottom-desktop.svg") no-repeat bottom right;
  background-size: auto, auto;
}

.container-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 120px;
}

.container-top__left {
  width: 100%;
  max-width: 425px;
}

.container-top__heading {
  margin-bottom: 10px;
  color: #502050;
  font-size: 42px;
  font-weight: 700;
  line-height: 48px;
}

.container-top__desc {
  margin-top: 0.8rem;
  font-size: 15px;
  letter-spacing: -0.5px;
  line-height: 25px;
  font-weight: 500;
  color: #937b92;
}

.container-top__right {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50px 50px 340px 50px 50px;
  grid-template-columns: 50px 50px 340px 50px 50px;
  grid-row-gap: 20px;
}

.container-top .rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 56px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #f7f2f7;
  border-radius: 5px;
  padding: 20px 32px;
}

.container-top .rating:first-child {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / 4;
}

.container-top .rating:nth-child(2) {
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  grid-column: 2 / 5;
}

.container-top .rating:last-child {
  -ms-grid-column: 3;
  -ms-grid-column-span: 3;
  grid-column: 3 / 6;
}

.container-top .rating__rating-box {
  width: 100px;
  height: 100%;
  background: url("./images/icon-star.svg") space center;
}

.container-top .rating__desc {
  font-weight: 700;
  font-size: 15px;
  line-height: 25px;
  color: #502050;
  margin-left: 20px;
}

.container-bottom {
  margin-top: 72px;
}

.container-bottom .testimonials {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr) [3];
  grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: 16px 16px auto 16px 16px;
  grid-template-rows: 16px 16px auto 16px 16px;
  gap: 30px;
  margin-bottom: 100px;
}

.container-bottom .testimonial {
  background-color: #502050;
  padding: 40px 32px;
  border-radius: 8px;
  max-width: 350px;
}

.container-bottom .testimonial:first-child {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  grid-row: 1 / 4;
}

.container-bottom .testimonial:nth-child(2) {
  -ms-grid-row: 2;
  -ms-grid-row-span: 3;
  grid-row: 2 / 5;
}

.container-bottom .testimonial:last-child {
  -ms-grid-row: 3;
  -ms-grid-row-span: 3;
  grid-row: 3 / 6;
}

.container-bottom .testimonial-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.container-bottom .testimonial-info__text {
  margin-left: 23px;
}

.container-bottom .testimonial-info-user__name {
  font-weight: 700;
  font-size: 13px;
  line-height: 20px;
  color: white;
}

.container-bottom .testimonial-info-user__desc {
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  color: #ee68a4;
}

.container-bottom .testimonial-avatar {
  width: 40px;
  height: 40px;
  background-position: center;
  background-size: cover;
  border-radius: 50px;
}

.container-bottom .testimonial-text {
  color: white;
  line-height: 20px;
  margin-top: 26px;
  font-size: 12px;
  font-weight: 400;
}
/*# sourceMappingURL=app.css.map */
